<%-include("header")-%>
<info>
  <div class="email-container">
      <h1>Compose a Post</h1>
      <form action="/compose" method="post" enctype="multipart/form-data">
      
          <div class="form-group">
              <label for="subject">Post Title:</label>
              <input type="text" id="subject" name="subject" required autocomplete="off">
              
          </div>
          <div class="form-group">
              <label for="body">Body:</label>
              <textarea id="body" name="body" rows="10" required></textarea>
          </div>
          <!-- <div class="form-group">
              <label for="attachment">Attachment:</label>
              <input type="file" id="attachment" name="attachment">
              <button type="button" id="addAttachment">Add Attachment</button>
          </div> -->
          <!-- <div id="attachmentPreview" class="attachment-preview"></div> -->
          <div class="form-group">
            <label for="image">Add an image (optional , max 1MB):click here</label>
            <input type="file" name="image" id="image" accept="image/*" class="form-control-file">
            <small class="text-muted">Only JPEG, PNG, or GIF. Max size 1MB.</small>
            <div id="imagePreview" style="margin-top: 10px;"></div>
            <div id="imageError" class="text-danger"></div>
          </div>
          
          <button type="submit" class="send-btn">Publish</button>
      </form>
  </div>
</info>
<%-include("footer")-%>