<%-include("header")-%>
<form method="post" action="/edit">
<div class="form-group">
    <label for="subject">Post Title:</label>
    <input type="text" id="subject" name="subject"value="<%=retrieve.subject%>" required>
</div>
<div class="form-group">
    <label for="body">Body:</label>
    <textarea id="body" name="body" rows="10"value="<%=retrieve.body%>" required></textarea>
</div>
<button class="btn btn-primary" type="submit">EDIT</button>
</form>
<%-include("footer")-%>