<%-include("header")-%>
<div class="mt-4"style="justify-content:center;align-items:center;display:flex;">
<form method="post" action="/auth/signin">
 
    <small style="color: red;"><%=data%></small>
    <input type="text"name="email" placeholder="Enter username(email)" class="form-control" autocomplete="off"required>
<br>

    <input type="password" name="password"placeholder="Enter password" class="form-control"required>

 <br>
 
<button class="btn btn-primary btn-sm" type="submit">SIGN IN</button>

</form>
</div>
<script>
    window.addEventListener('pageshow', function(event) {
      if (event.persisted) {
        window.location.reload();
      }
    });
  </script>
<%-include("footer")-%>