<%-include("header")-%>
<div class="mt-4"style="justify-content:center;align-items:center;display:flex;">
<form method="post" action="/signup">
    <input type="text"name="username" placeholder="Enter your username" class="form-control" autocomplete="off"required>
<br>

    <input type="text" name="password"placeholder="Enter your password" class="form-control"required>

 <br>
<button class="btn btn-primary btn-sm" type="submit">SIGN IN</button>

</form>
</div>
<%-include("footer")-%>